@import url(https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap);

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url(/fonts/icon.woff2) format('woff2');
}


*,
* * {
    font-family: 'Yuji Syuku', serif;
    cursor: default;
}

*:focus {
    outline: unset !important;
}

body {
    background-color: black;
    color: white;
}

#game {
    border: 2px solid;
    height: 600px;
    width: 800px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url(/img/bg/bg_fog_1.png) #222;
    background-size: cover;
}

#cMark {
    font-size: 15px;
    font-family: sans-serif;
    right: 5px;
    bottom: 5px;
    position: absolute;
}

#gameTitle {
    font-size: 100px;
    left: 50%;
    white-space: nowrap;
    transform: translateX(-50%);
    position: absolute;
    top: 50px;
    text-shadow: 0 0 8px white;
}

#gameTitleSub {
    font-size: 30px;
    left: calc(50% + 175px);
    white-space: nowrap;
    transform: translate(-50%) rotateZ(-20deg);
    position: absolute;
    top: 150px;
    color: red;
    font-weight: bolder;
    text-shadow: 0 0 10px black, 0 0 5px red;
}


.btn {
    background: transparent;
    color: white;
    font-size: 30px;
    transform: translate(-50%, -50%);
    border: unset;
}

#startBtn {
    left: 50%;
    bottom: 180px;
    position: absolute;
    transition: .5s;
    border-radius: 10px;

}

#loadBtn {
    left: 50%;
    bottom: 100px;
    position: absolute;
    transition: .5s;
    border-radius: 10px;

}

#loadBtn:hover,
#startBtn:hover {
    border-left: 5px solid;
    border-right: 5px solid;
    padding-left: 30px;
    padding-right: 30px;
    transition: .5s;
}

#charaSelectTitle {
    color: white;
    font-size: 50px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    top: 60px;
}

.charaSelectBtn {
    background: #0000;
    color: #fff;
    position: absolute;
    font-size: 30px;
    border: 2px solid white;
    width: 150px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
}

#charaSelect1 {
    bottom: 200px;
    left: 100px;
    transform: translateX(-50%);
}

#charaSelect2 {
    bottom: 200px;
    left: 300px;
    transform: translateX(-50%);
}

#charaSelect3 {
    bottom: 200px;
    right: 300px;
    transform: translateX(50%);
}

#charaSelect4 {
    bottom: 200px;
    right: 100px;
    transform: translateX(50%);
}

.charaSelectBtn:hover {
    text-shadow: 0 0 2px white;
    box-shadow: 0 0 5px white;
}

#chExpl {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 30px;
    width: 600px;
    height: 100px;
    border: 2px solid white;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
}

#className {
    font-size: 30px;
}

#explText {
    margin-left: 20px;
}

#hiddenMessage {
    font-size: 10px;
    color: transparent;
}

#nameInputLabel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    white-space: nowrap;
}

#nameInput {
    background: transparent;
    color: white;
    border: unset;
    border-bottom: 2px solid white;
    font-size: 20px;
    text-align: center;
}

#randNBtn {
    font-family: 'Material Symbols Outlined';
    background: transparent;
    border: unset;
    color: white;
    font-size: 25px;
}